name: main

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: "1.23.3"

      - name: Install dependencies
        run: |
          go mod tidy
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Lint
        run: make lint

      - name: Test
        run: make test
